.container {
	position: relative;
}

.label {
	color: var(--color-alternative-black);
	opacity: 60%;
	font-size: 12px;
	display: flex;
	align-items: center;
	font-family: var(--font-poppins);
    gap: 10px;
}

.date_input_container {
	position: absolute;
	top: 100%;
}
