$color-dark-white: #fafafa;
$color-white: #fff;
$color-olive: #7c6a46;
$color-black: #000;
$color-light-black: #454545;
$color-alternative-black: #1c1c1c;
$color-aquamarine: #00a699;

$sectionn-padding: 120px;
