@import '../../../styles/variables';


.container {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.content {
    width: 100%;
    max-width: 1512px;
    padding: 0 $sectionn-padding;
}