:root {
  --color-dark-white: #FAFAFA;
  --color-white: #fff;
  --color-olive: #7C6A46;
  --color-black: #000;
  --color-light-black: #454545;
  --color-alternative-black: #1C1C1C;
  --color-aquamarine: #00A699;
}

html {
  font-family: var(--font-raleway);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}