.section_wrapper {
    padding-bottom: 268px;
}

.list_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.picture_container {
    width: 381px;
    height: 480px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    img {
        height: 100%;
    }
}