.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;
	background-color: var(--color-dark-white);
}

.image_container {
    height: 40px;

	svg {
		height: 40px;
		width: 100%;
	}
}
